<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/sudoku_solver.css" >
    <title>Sudoku Solver</title>
  </head>
  <body>
    <div class="container">

      <h1> Sudoku Solver </h1>
      <p class="lead"> Fill up the template with hints and press 'Solve Now' button.</p>

      <div class="row">
        <div id="sudoku">
          <table>
            <% @sample.each_with_index do |row, row_index| %>
              <tr id="<%= row_index %>" />
              <% row.each_with_index do |hint, col_index| %>
                <td id='<%="#{row_index}_#{col_index}" %>'>
                    <input type="text"
                           id='val_<%= "#{row_index}_#{col_index}" %>'
                           class="entry"
                           value="<%= hint == 0 ? '' : hint %>"/>
                  </td>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>

      <div class="row">
        <div id="solve_action">
          <input type="button" id="solve" value="Solve Now" class="btn btn-primary btn-lg" />
          <input type="button" id="clear" value="Clear Board" class="btn btn-danger btn-lg" />
        </div>

        <div id="retry_action">
          <input type="button" id="retry" value="Again" class="btn btn-success btn-lg" />
        </div>
      </div>
    </div>

    <script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="js/sudoku_solver.js"></script>
  </body>
</html>
