<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Sudoku Solver</title>
  </head>
  <body>
    <h1> Sudoku Solver </h1>
    <h2> Fill out the template with hints and press 'Solve Now' button.</h2>
    <form id="sudoku">
      <div>
        <p> Sudoku Form </p>
      </div>
      <input type="submit" value="Solve Now" />
    <form>
  </body>
</html>
