<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Sudoku Solver</title>
  </head>
  <body>
    <h1> Sudoku Solver </h1>
    <h2> Fill out the template with hints and press 'Solve Now' button.</h2>
    <form id="sudoku">
      <div>
        <p> Sudoku Form </p>
      </div>
      <input type="submit" value="Solve Now" />
    <form>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/sudoku_solver.js"></script>
  </body>
</html>
