<table>
  <% @solution.each do |row| %>
    <tr>
      <% row.each do |solution, hint| %>
        <td class="<%= solution == hint ? 'hinted' : 'solved' %>"> <%= solution %></td>
      <% end %>
    </tr>
  <% end %>
</table>
